#ignore files
Aviary/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter
.ipynb_checkpoints

# Django / Flask / databases
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Sphinx
docs/_build/

# PyBuilder
target/

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject

# Tools
.mypy_cache/
.pyre/
.cache/
.pytest_cache/

# Environment / secret files
.env
.env.*

# OS files
.DS_Store
Thumbs.db